.chart-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 290px; /* Ajustare pentru alinierea corectă */
    margin-bottom: 20px;
    height: calc(100vh - 60px); /* Mărim înălțimea graficului pentru a ocupa tot spațiul */
    background-color: #13524b; /* Fundal verde închis */
    overflow-y: hidden; /* Eliminăm scroll-ul vertical */
    overflow-x: hidden; /* Eliminăm scroll-ul orizontal */
    padding: 20px; /* Spațiu interior */
    color: #ecf0f1; /* Culoarea textului similară cu navbar-links li a */
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chart-header h1 {
    margin: 0;
    font-size: 18px; /* Dimensiunea fontului */
    color: #ecf0f1; /* Culoarea textului */
}

.chart-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.chart-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chart-buttons button.active,
.chart-buttons button:hover {
    background-color: #45a049;
}

.chart-content {
    flex-grow: 1;
    overflow-y: hidden; /* Eliminăm scroll-ul vertical */
    overflow-x: hidden; /* Eliminăm scroll-ul orizontal */
}
