.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background-color: #fff;
    color: #343a40;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    box-sizing: border-box;
}

.profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    text-align: center;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 5px;
}

.profile-title {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
}

.admins-menu-title {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin-bottom: 10px;
}

.navbar-links a {
    display: flex;
    align-items: center;
    color: #343a40;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-links a:hover,
.navbar-links .active {
    background-color: #fd7e14;
    color: #fff;
}

.navbar-links a .icon {
    margin-right: 10px;
    font-size: 18px;
    /* Adjusted icon size */
}