.business-news-container {
    display: flex;
}

.news-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px;
    /* Adjust this value if necessary to match the width of your Navbar */
}

.news-scroll-container {
    max-height: 80vh;
    /* Adjust this value as necessary */
    overflow-y: auto;
    padding-right: 10px;
    /* Space for scrollbar */
}

.news-article {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.news-article h4 {
    margin: 0 0 10px;
}

.news-article p {
    margin: 0 0 10px;
}