.home-container {
    display: flex;
    height: 100vh;
    margin-left: 270px;
    /* Adăugat margin-left pentru a acomoda navbarul */
}

.home-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.home-header h1 {
    margin: 0;
}

.home-header nav {
    display: flex;
    gap: 15px;
}