.stock-list-container {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
}

.stock-list-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 220px;
    /* Adjust this value if necessary to match the width of your Navbar */
}

.stock-list {
    max-height: 80vh;
    /* Adjust this value as necessary */
    overflow-y: auto;
    padding-right: 10px;
    /* Space for scrollbar */
}

.stock-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.stock-item h2 {
    margin: 0 0 10px;
}

.stock-item p {
    margin: 0 0 10px;
}

.stock-buttons {
    display: flex;
    justify-content: space-between;
}

.stock-buttons button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.stock-buttons button:hover {
    background-color: #0056b3;
}