.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #13524b; /* Schimbat pentru a fi similar cu home-container */
    overflow-y: hidden; /* Scoatem scroll-ul vertical */
    overflow-x: hidden; /* Scoatem scroll-ul orizontal */
}

.profile-header {
    display: flex;
    justify-content: center; /* Aliniere similară cu home-header */
    align-items: center;
    margin-bottom: 20px;
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
}

.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.profile-header h2 {
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
    margin: 0;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
    padding: 20px; /* Adăugat padding similar cu home-content */
}

.profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.profile-field label {
    width: 100px;
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
    font-weight: bold;
    text-align: left;
}

.profile-field input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    color: #f9f9f9;
}

.profile-field p {
    flex: 1;
    padding: 10px;
    color: #f9f9f9;
    margin: 0;
}
