.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #13524b; /* Schimbat pentru a fi similar cu home-container */
    overflow-y: hidden; /* Scoatem scroll-ul vertical */
    overflow-x: hidden; /* Scoatem scroll-ul orizontal */
}

.profile-header {
    display: flex;
    justify-content: center; /* Aliniere similară cu home-header */
    align-items: center;
    margin-bottom: 20px;
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
}

.profile-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.profile-header h2 {
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
    margin: 0;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
    padding: 20px; /* Adăugat padding similar cu home-content */
}

.profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.profile-field label {
    width: 100px;
    color: #ecf0f1; /* Aceeași culoare a textului ca home-content */
    font-weight: bold;
    text-align: left;
}

.profile-field input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
}

.profile-field p {
    flex: 1;
    padding: 10px;
    color: #666;
    margin: 0;
}

.profile-card {
    background-color: #13524b; /* Similar cu cardurile din Home.css */
    color: white; /* Text alb */
    border: none; /* Eliminăm bordura */
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 30px);
    min-width: 50px;
    max-width: 250px;
    text-decoration: none; /* Asigură că link-ul nu are subliniere */
    display: block; /* Asigură că link-ul ocupă întregul spațiu al cardului */
    transition: background-color 0.3s, transform 0.3s; /* Adăugăm tranziția */
    font-weight: bold;
    cursor: pointer;
}

.profile-card:hover {
    background-color: #2ec4b6; /* Schimbă culoarea de fundal la hover */
    color: inherit; /* Păstrează culoarea textului la hover */
}
