.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2ec4b6;
}

.forgot-password-card {
    background: #1a1a2e;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.forgot-password-card h2 {
    margin-bottom: 20px;
    color: #fff;
}

.forgot-password-card form {
    display: flex;
    flex-direction: column;
}

.forgot-password-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #162447;
    color: #fff;
}

.forgot-password-card input::placeholder {
    color: #a9a9a9;
}

.forgot-password-card button {
    width: 100%;
    padding: 10px;
    background: #2ec4b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.forgot-password-card button:hover {
    background: #1ec1a6;
}

.forgot-password-card p {
    color: #fff;
    margin-top: 20px;
}

.forgot-password-card p a {
    color: #2ec4b6;
    text-decoration: none;
}

.forgot-password-card p a:hover {
    text-decoration: underline;
}

.contact-support {
    margin-top: 20px;
    text-align: center;
    color: #000;
    /* Text negru */
}

.contact-support p {
    margin: 5px 0;
}